<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-4.0.0-beta.1.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='canvasStyle.css')}}">
  <title>Alexander Souza - G00317835</title>
</head>

<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 bg-light">
          <h1 class="display-1 text-center">Project - TensorFlow</h1>
        </div>
      </div>
    </div>
  </div>
  <div align="center">

    <div>
      <canvas id="canvas" width="280" height="280"></canvas>

    </div>

    <div>
      <!--  <img src="{{localhost}}static/ImageResult.png" class="img-thumbnail" alt="Draw the firt Image"> -->
    </div>


  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div align="center" class="col-md-12">
          <h2>Image Result</h2>
          <h1 id="result"></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a id="sendImage5" class="btn btn-primary btn-lg btn-block sendImage" href="javascript: onclick();">Send Image</a>
          <a class="btn btn-lg btn-block btn-danger" id="clearButton" href="">Reset Image</a>

        </div>
        <div class="col-md-6">

          <form role="form" class="form-inline">

            <div class="form-group">

              <label for="exampleInputFile">
                File input :
              </label>
              <input type="file" id="exampleInputFile">

            </div>

            <button type="submit" class="btn btn-default">
              Submit
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="lead text-center">In this project you will create a web application in Python to recognise digits in images. Users will be able to
            visit the web application through their browser, submit (or draw) an image containing a single digit, and the
            web application will respond with the digit contained in the image. You should use tensorflow and flask to do
            this.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="{{url_for('static',filename='jquery-3.2.0.min.js')}}"></script>
  <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='canvasIndex.js')}}"></script>
</body>

  <script type="text/javascript">

    // Ref - https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL
    // Soluctions extrat from github - https://stackoverflow.com/questions/10673122/how-to-save-canvas-as-an-image-with-canvas-todataurl
    $(".sendImage").click(function(){
      $('#result').text('Cheking...');
      var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
      var canvasObj = document.getElementById("canvas");
      var img = canvasObj.toDataURL('image/png');
      $.ajax({
        type: "POST",
        url: $SCRIPT_ROOT + "/ImageResult/",
        data: img,
        success: function(data){
          $('#result').text(data);
        }
      });
    });
    </script>

</html>